In [1]:
# import pandas package
# if using Anaconda, must be installed using the following command "conda install pandas"
import pandas as pd

In [2]:
# load the excel file
db = pd.read_excel("Max_Geocode_10K.xlsx")

# show the first five contacts
db.head()

,NSFID,Member,Contact ID,Person ID,GeoType,Address,City,State,Zip Code
0,10000,Max,60733,68705,Street,40355 E 165TH ST,LAKE LOS ANGELES,CA,NaN
1,10001,Max,73949,83225,Street,40347 E 165TH ST,LAKE LOS ANGELES,CA,NaN
2,10002,Max,222671,244682,Street,40302 E 165TH ST,LAKE LOS ANGELES,CA,93535.0
3,10003,Max,233081,256005,Street,40308 E 166TH ST,LAKE LOS ANGELES,CA,NaN
4,10004,Max,233081,256007,Street,40381 E 166TH ST,LAKE LOS ANGELES,CA,NaN

In [3]:
# leave only Address and City
db_sample = db[['Address','City']]

db_sample.head()

            Address              City
0  40355 E 165TH ST  LAKE LOS ANGELES
1  40347 E 165TH ST  LAKE LOS ANGELES
2  40302 E 165TH ST  LAKE LOS ANGELES
3  40308 E 166TH ST  LAKE LOS ANGELES
4  40381 E 166TH ST  LAKE LOS ANGELES

In [4]:
# let's concatinate address and city into one string

# store address strings into a list of strings (array of strings)
address_column = db_sample['Address'].to_list()

# show the first five contacts
address_column[:5]

['40355 E 165TH ST',
 '40347 E 165TH ST',
 '40302 E 165TH ST',
 '40308 E 166TH ST',
 '40381 E 166TH ST']

In [5]:
# store city strings into a list of strings (array of strings)
city_column = db_sample['City'].to_list()
city_column[:5]

['LAKE LOS ANGELES',
 'LAKE LOS ANGELES',
 'LAKE LOS ANGELES',
 'LAKE LOS ANGELES',
 'LAKE LOS ANGELES']

In [6]:
# concatinate "address" and "city" into one string

# initialize an empty list(array) of addresses
address = []

# make a loop to go through all addresses and citis and concatinate them together with the State (California)
# 'len(address_column)'' is equal to 10,000
for i in range(len(address_column)):
    # each run create and add a new string to the 'address' list
    address.append(address_column[i]+ ", " + city_column[i] + ", CALIFORNIA")
    
# show the first five contacts again
address[:5]

['40355 E 165TH ST, LAKE LOS ANGELES, CALIFORNIA',
 '40347 E 165TH ST, LAKE LOS ANGELES, CALIFORNIA',
 '40302 E 165TH ST, LAKE LOS ANGELES, CALIFORNIA',
 '40308 E 166TH ST, LAKE LOS ANGELES, CALIFORNIA',
 '40381 E 166TH ST, LAKE LOS ANGELES, CALIFORNIA']

In [7]:
# let's check the length of the address list. must contain 10,000 strings
len(address)

10000

In [9]:
# import package 'googlemaps'. it must be installed with the following command: "conda install googlemaps"
import googlemaps

# Google must know who is using the API. it also requires to add a payment method, 
                 #  however, it won't charge anything, unless we exceed the monthly limit
    
# Google provides $200 free credit per month for their API's.
# it charges $5 for an additional 1000 searches. 
# we can check how much we of a free credit we spent in "Reports" under "Billing" on Google Cloud Platform

gmaps = googlemaps.Client(key='YOU API KEY IS HERE')

# show an example with a simple search, such as Sherman Oaks, California
geocode_result = gmaps.geocode('Sherman Oaks, California')

# print Latitude and Longitude.
# "geocode_result" (as I called it) contains a lot of information in a very complicated format (think of a tree),
                # so in order to get Lat/Long, we need to eliminate the rest of the information 
                # by specifying the part that we need (lat/long): "geocode_result[0]['geometry']['location']['lat']"
        
geocode_result[0]['geometry']['location']['lat'], geocode_result[0]['geometry']['location']['lng']

(34.1489719, -118.451357)

In [10]:
# that is how complicated the information looks like. it might contain some useful data as well
geocode_result

[{'address_components': [{'long_name': 'Sherman Oaks',
    'short_name': 'Sherman Oaks',
    'types': ['neighborhood', 'political']},
   {'long_name': 'Los Angeles',
    'short_name': 'Los Angeles',
    'types': ['locality', 'political']},
   {'long_name': 'Los Angeles County',
    'short_name': 'Los Angeles County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'California',
    'short_name': 'CA',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']}],
  'formatted_address': 'Sherman Oaks, Los Angeles, CA, USA',
  'geometry': {'bounds': {'northeast': {'lat': 34.17945, 'lng': -118.4068437},
    'southwest': {'lat': 34.1261883, 'lng': -118.4877299}},
   'location': {'lat': 34.1489719, 'lng': -118.451357},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 34.17945, 'lng': -118.4068437},
    'southwest': {'lat': 34.1261883, 'lng': -118.4877299}}},
  'place_id': 'ChIJ87ycp9uXwoARFv9xgD9OmwM',
  'types': ['neighborhood', 'political']}]

In [11]:
# this will count the amount of time spent on searching. just for statistics
import time
start_time = time.time()



# initialize an empty list of latitudes and longitudes
lat_list = []
long_list = []

# this loop runs the first 5 addresses (for example) 
for i in range(len(address[:5])):
    
    # get the infromation from google maps
    # "gmaps" already contains your API (from the cell above)
    result = gmaps.geocode(address[i])
    
    # add latitude and longitude to the corresponding list
    lat_list.append(result[0]['geometry']['location']['lat'])
    long_list.append(result[0]['geometry']['location']['lng'])


    
# print the execution time (just for statistics)    
exec_time = (time.time() - start_time)
print("Execution time:", round(exec_time),"seconds")

Execution time: 2 seconds

In [12]:
# show the first 20 results of both Lat and Long
lat_list[:20], long_list[:20]

([34.6152076, 34.6151743, 34.6143006, 34.6147121, 34.6155768],
 [-117.8374648, -117.8374648, -117.8366801, -117.8326848, -117.8329413])

In [15]:
# let's save it to the file!

# create a new dataframe
db_temp = db[:5]

# create a new column 'lat' and copy the list of latitudes to the dataframe. it correspond the addresses/id, etc
db_temp['lat'] = lat_list
db_temp['long'] = long_list

# save as an excel file
db_temp.to_excel('geocoded_first5.xlsx')

C:\Users\maksi\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\maksi\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
# show show the dataframe now looks like
db_temp.head()

,NSFID,Member,Contact ID,Person ID,GeoType,Address,City,State,Zip Code,lat,long
0,10000,Max,60733,68705,Street,40355 E 165TH ST,LAKE LOS ANGELES,CA,NaN,34.615208,-117.837465
1,10001,Max,73949,83225,Street,40347 E 165TH ST,LAKE LOS ANGELES,CA,NaN,34.615174,-117.837465
2,10002,Max,222671,244682,Street,40302 E 165TH ST,LAKE LOS ANGELES,CA,93535.0,34.614301,-117.836680
3,10003,Max,233081,256005,Street,40308 E 166TH ST,LAKE LOS ANGELES,CA,NaN,34.614712,-117.832685
4,10004,Max,233081,256007,Street,40381 E 166TH ST,LAKE LOS ANGELES,CA,NaN,34.615577,-117.832941